* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat";
}

body {
    overflow-x: hidden;
    padding: 18px 70px 0 70px;
    background-color: #DDFF00;
    min-width: 1512px;
    z-index: 1;
}

.header{
    width: 100%;
    font-weight: 700;
    font-size: 125px;
    font-style: italic;
    text-align: center;
}

/* Верхняя строка new */
.top_svg_container {
    position: absolute;
    overflow: hidden;
    top: 145px;
    left: 0;
    height: 72px;
    width: 1372px; /* сделала поменьше чтоб на боковую линию не заходило */
    z-index: 10;
}
.top-moving-svg {
    position: absolute;
    height: 72px;
    width: 1378px;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.4));
    animation: top-scroll 10s linear infinite;
}
.top-moving-svg2 {
    position: absolute;
    height: 72px;
    width: 1378px;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.4));
    animation: top-scroll2 10s linear infinite;
}
@keyframes top-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1410px);
    }
}
@keyframes top-scroll2 {
    0% {
        transform: translateX(1410px);
    }
    100% {
        transform: translateX(0);
    }}
/* ----------------------- */

/* Нижняя строка new*/
.bottom_svg_container {
    position: absolute;
    overflow: hidden;
    top: 439px;
    left: 0;
    height: 73px;
    width: 1372px; /* сделала поменьше чтоб на боковую линию не заходило */
    z-index: 10;
}
.bottom-moving-svg {
    position: absolute;
    height: 73px;
    width: 1378px;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.4));
    animation: top-scroll 10s linear infinite;
}
.bottom-moving-svg2 {
    position: absolute;
    height: 73px;
    width: 1378px;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.4));
    animation: top-scroll2 10s linear infinite;
}


/* ----------------------- */

/* Центральная строка */
.single_svg_container {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 184px;
    width: 100%;
    z-index: 10;
}

.single-moving-svg {
    position: absolute;
    width: 2400px;
    height: 184px;
    animation: svg-scroll 15s linear infinite;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.4));
}

.single-moving-svg2 {
    position: absolute;
    width: 2400px;
    height: 184px;
    animation: svg-scroll2 15s linear infinite;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.4));
}

@keyframes svg-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2400px );
    }
}

@keyframes svg-scroll2 {
    0% {
        transform: translateX(-2400px );
    }
    100% {
        transform: translateX(0);
    }
}
/* ----------------------- */

/* верхняя черная строка */
.row{
    position: absolute;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 99px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 700;
    white-space: nowrap;
    width: 2850px;
    animation: scroll 10s linear infinite;
}

.row2{
    position: absolute;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 99px;
    color: #000000;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    white-space: nowrap;
    width: 2850px;
    animation: scroll2 10s linear infinite;
}

/* ----------------------- */

/* нижняя черная строка */
.row3{
    position: absolute;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 99px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 700;
    white-space: nowrap;
    width: 2570px;
    animation: scroll 10s linear infinite;
}

.row4{
    position: absolute;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 99px;
    color: #000000;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    white-space: nowrap;
    width: 2570px;
    animation: scroll2 10s linear infinite;
}
/* скрол слева направо */
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes scroll2 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* скрол справа налево */
@keyframes scroll_pl {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes scroll_pl2 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

/* заголовок */
.header{
    width: 100%;
    font-weight: 700;
    font-size: 125px;
    font-style: italic;
    text-align: center;
}
.row-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 99px;
}
.header-container{
    overflow: hidden;
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 170px;
}
.header_row{
    position: absolute;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 170px;
    color: #000000;
    font-weight: 700;
    font-size: 125px;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    width: 1250px;
    animation: scroll 10s linear infinite;
}
.header_row2{
    position: absolute;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 170px;
    color: #000000;
    font-weight: 700;
    font-size: 125px;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    width: 1250px;
    animation: scroll2 10s linear infinite;
}
.headline_big_alien{
    left: 45px;
    top: 28px;
    width: 100%;
    font-weight: 700;
    font-size: 85px;
    font-style: italic;
    text-align: center;
    color: #FF00BF;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes scroll2 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* ----------------------- */
/* black */
.row-container_black{
    margin-left: -80px;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 300px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_black{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 900;
    white-space: nowrap;
    width: 1902px;
    animation: scroll 10s linear infinite;
}

.row_black_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    white-space: nowrap;
    width: 1902px;
    animation: scroll2 10s linear infinite;
}

/* ----------------------- */

/* semibold */
.row-container_semibold{
    z-index: 2;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 600px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_semibold{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 600;
    white-space: nowrap;
    width: 1420px;
    animation: scroll 10s linear infinite;
}

.row_semibold_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
    width: 1420px;
    animation: scroll2 10s linear infinite;
}

/* ----------------------- */

/* extrabold */
.row-container_extrabold{
    z-index: 3;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 1123px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_extrabold{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 800;
    white-space: nowrap;
    width: 1650px;
    animation: scroll 10s linear infinite;
}

.row_extrabold_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    white-space: nowrap;
    width: 1650px;
    animation: scroll2 10s linear infinite;
}

/* ----------------------- */

/* bold */
.row-container_bold{
    z-index: 4;
    margin-left: -140px;
    overflow: hidden;
    position: absolute;
    top: 100px; 
    width: 1700px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_bold{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 700;
    white-space: nowrap;
    width: 1610px;
    animation: scroll_pl 10s linear infinite;
}

.row_bold_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    width: 1610px;
    animation: scroll_pl2 10s linear infinite;
}

/* ----------------------- */
/* extralight */
.row-container_extralight{
    z-index: 5;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 0px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_extralight{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 200;
    white-space: nowrap;
    width: 1950px;
    animation: scroll 10s linear infinite;
}

.row_extralight_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 200;
    white-space: nowrap;
    width: 1950px;
    animation: scroll2 10s linear infinite;
}

/* ----------------------- */

/* extrabold_italic */
.row-container_extrabold_it{
    z-index: 6;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 1563px; 
    width: 1500px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_extrabold_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 800;
    white-space: nowrap;
    width: 1898px;
    animation: scroll_pl 10s linear infinite;
}

.row_extrabold_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic;
    font-weight: 800;
    white-space: nowrap;
    width: 1898px;
    animation: scroll_pl2 10s linear infinite;
}
/* ----------------------- */
/* light */
.row-container_light{
    z-index: 7;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 1010px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_light{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 300;
    white-space: nowrap;
    width: 1570px;
    animation: scroll 10s linear infinite;
}

.row_light_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 300;
    white-space: nowrap;
    width: 1570px;
    animation: scroll2 10s linear infinite;
}
/* ----------------------- */

/* thin */
.row-container_thin{
    z-index: 8;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 140px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_thin{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 100;
    white-space: nowrap;
    width: 1630px;
    animation: scroll 10s linear infinite;
}

.row_thin_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 100;
    white-space: nowrap;
    width: 1630px;
    animation: scroll2 10s linear infinite;
}
/* ----------------------- */

/* regular */
.row-container_regular{
    z-index: 9;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 1420px; 
    width: 1600px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_regular{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 400;
    white-space: nowrap;
    width: 1570px;
    animation: scroll 10s linear infinite;
}

.row_regular_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 400;
    white-space: nowrap;
    width: 1570px;
    animation: scroll2 10s linear infinite;
}
/* ----------------------- */

/* medium */
.row-container_medium{
    z-index: 10;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 570px; 
    width: 1600px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_medium{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 500;
    white-space: nowrap;
    width: 1430px;
    animation: scroll 10s linear infinite;
}

.row_medium_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: normal; 
    font-weight: 500;
    white-space: nowrap;
    width: 1430px;
    animation: scroll2 10s linear infinite;
}
/* ----------------------- */

/* extralight italic */
.row-container_extralight_it{
    z-index: 11;
    margin-left: -150px;
    overflow: hidden;
    position: absolute;
    top: 865px; 
    width: 1700px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_extralight_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 200;
    white-space: nowrap;
    width: 1770px;
    animation: scroll_pl 10s linear infinite;
}

.row_extralight_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 200;
    white-space: nowrap;
    width: 1770px;
    animation: scroll_pl2 10s linear infinite;
}

/* thin italic */
.row-container_thin_it{
    z-index: 12;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 1270px; 
    width: 1600px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_thin_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 100;
    white-space: nowrap;
    width: 1820px;
    animation: scroll_pl 10s linear infinite;
}

.row_thin_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 100;
    white-space: nowrap;
    width: 1820px;
    animation: scroll_pl2 10s linear infinite;
}

/* light italic */
.row-container_light_it{
    z-index: 13;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 1280px; 
    width: 1600px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_light_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 300;
    white-space: nowrap;
    width: 1600px;
    animation: scroll 10s linear infinite;
}

.row_light_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 300;
    white-space: nowrap;
    width: 1600px;
    animation: scroll2 10s linear infinite;
}
/* black italic */
.row-container_black_it{
    z-index: 14;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 770px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_black_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 900;
    white-space: nowrap;
    width: 1835px;
    animation: scroll 10s linear infinite;
}

.row_black_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 900;
    white-space: nowrap;
    width: 1835px;
    animation: scroll2 10s linear infinite;
}
/* italic */
.row-container_italic{
    z-index: 15;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 880px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_italic{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 400;
    white-space: nowrap;
    width: 1646px;
    animation: scroll_pl 10s linear infinite;
}

.row_italic_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 400;
    white-space: nowrap;
    width: 1646px;
    animation: scroll_pl2 10s linear infinite;
}


/* medium italic */
.row-container_medium_it{
    z-index: 16;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: -30px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_medium_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 500;
    white-space: nowrap;
    width: 1490px;
    animation: scroll 10s linear infinite;
}

.row_medium_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 500;
    white-space: nowrap;
    width: 1490px;
    animation: scroll2 10s linear infinite;
}

/* semibold italic */
.row-container_semibold_it{
    z-index: 17;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 420px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_semibold_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 600;
    white-space: nowrap;
    width: 1710px;
    animation: scroll_pl 10s linear infinite;
}

.row_semibold_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 600;
    white-space: nowrap;
    width: 1710px;
    animation: scroll_pl2 10s linear infinite;
}

/* bold italic */
.row-container_bold_it{
    z-index: 18;
    margin-left: -80px;
    overflow: hidden;
    position: absolute;
    top: 380px; 
    width: 1520px;
    display: flex;
    flex-direction: row;
    height: 107px;
}
.row_bold_it{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 900;
    white-space: nowrap;
    width: 1690px;
    animation: scroll_pl 10s linear infinite;
}

.row_bold_it_2{
    position: absolute;
    background-color: #DDFF00;
    overflow:hidden;
    top: 0px;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 107px;
    color: #000000;
    font-size: 60px;
    font-style: italic; 
    font-weight: 900;
    white-space: nowrap;
    width: 1690px;
    animation: scroll_pl2 10s linear infinite;
}

.container{
    position:relative ;
    background-image: url('assets/images/main_bg.png');
    height: 2823px;
}

.container_news{
    position:relative ;
    background-image: url('assets/images/розовый\ фон\ новости.png');
    height: 646px;
}
.container_3_aliens{
    position:relative ;
    background-image: url('assets/images/frame\ розовый\ 2.png');
    height: 1968px;
}
.container_garniture{
    position:relative ;
    background-image: url('assets/images/фон\ для\ гарнитур.png');
    height: 1670px;
}
.container_features{
    position:relative;
    background-image: url('assets/images/features_bg.png');
    height: 2356px;
    width: 1375px;
}
.container_big_alien{
    margin-top: 160px;
    position:relative;
    height: 3491px;
    width: 1374px;
}

#tarelka{
    position:absolute;
    left: 78px;
    top: 801px;
}

#luuch_tarelka{
    position:absolute;
    left: 396px;
    top: 1072px;
}

#pink_desk_small{
    position:absolute;
    left: 833px;
    top: 1846px;
}

#pink_desk_big{
    position:absolute;
    left: 0px;
    top: 1448px;
}
#yellow_bg_top{
    position:absolute;
    left: 73px;
    top: 82px;
}
#yellow_bg_bot{
    position:absolute;
    left: 47px;
    top: 1130px;
}
#black_bg_mid{
    position:absolute;
    left: 63px;
    top: 509px;
}
#white_bg_mid{
    position:absolute;
    left: 105px;
    top: 739px;
}
#pink_bg_big_alien{
    position:absolute;
    left: 16px;
    top: 154px;
}
#pink_bg_small_alien_left{
    position:absolute;
    left: 18px;
    top: 2030px;
}
#pink_bg_small_alien_right{
    position:absolute;
    left: 960px;
    top: 2030px;
}
#curve_alien_left{
    position:absolute;
    left: 41px;
    top: 2097px;
}
#curve_alien_right{
    position:absolute;
    left: 1110px;
    top: 2130px;
}
#white_curve_bg{
    position:absolute;
    left: 37px;
    top: 2635px;
}

#shadow{
    text-shadow: 0 0 30px #FF00BF;
}

.text_container_zagolovok{
    color: #FF00BF;
    font-size: 170px;
    font-weight: 800;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 244px;
    left: 135px;
    width: 1092px;
    height: 293px;
    background-image: url('assets/images/фон\ заголовок.png');
    font-size: 170px;
}

.text_container_pink_desk_big{
    color: #DDFF00;
    padding-left: 25px;
    font-size: 50px;
    font-weight: 1000;
    font-style: Italic;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1448px;
    left: 0px;
    width: 588px;
    height: 291px;
    background-image: url('assets/images/розовая\ плажка\ побольше.png');
}

.text_container_pink_desk_small{
    color: #DDFF00;
    font-size: 50px;
    font-weight: 1000;
    font-style: Italic;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1846px;
    left: 833px;
    width: 539px;
    height: 170px;
    background-image: url('assets/images/розовая\ плажка\ поменьше.png');
}
.text_container_black_3_aliens{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 98px;
    left: 97px;
    width: 1186px;
    height: 291px;
    background-image: url('assets/images/черная\ подложка\ \'\'наши\ ученые\'\'.png');
}

.text_container_white_3_aliens{
    color: rgb(0, 0, 0);
    font-size: 35px;
    padding-bottom: 50px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 1328px;
    left: 103px;
    width: 1160px;
    height: 489px;
    background-image: url('assets/images/белая\ подложка\ _также\ они.._.png');
}
.text_container_yellow_3_aliens{
    color: rgb(0, 0, 0);
    font-size: 90px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 931px;
    left: 22px;
    width: 1330px;
    height: 403px;
    background-image: url('assets/images/желтая\ подложка\ _берегитесь_.png');
}
.text_container_features_1{
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 156px;
    left: 141px;
    width: 1107px;
    height: 341px;
    background-image: url('assets/images/фон\ розовый\ _одна\ из\ самых_.png');
}
.text_container_features_2{
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1168px;
    left: 86px;
    width: 1162px;
    height: 399px;
    background-image: url('assets/images/фон\ розовый\ _также\ данный\ шрифт_.png');
}
.text_container_curve{
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2703px;
    left: 123px;
    width: 1148px;
    height: 532px;
    background-image: url('assets/images/розовый\ фон\ _следует\ быть_.png');
}

.text_container_curve_2{
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3395px;
    left: 198px;
    width: 975px;
    height: 228px;
    background-image: url('assets/images/розовый\ фон\ _монтсерратовцы\ уже_.png');
}


.single_letter_top_1 {
    color: #FF00BF;
    font-style: normal;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 185px;
    top: 452px;
}
.single_letter_top_2 {
    color: #FF00BF;
    font-style: italic;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 425px;
    top: 448px;
}
.single_letter_top_3 {
    color: #FF00BF;
    font-style: normal;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 700px;
    top: 445px;
}
.single_letter_top_4 {
    color: #FF00BF;
    font-style: italic;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 940px;
    top: 441px;
}
.single_letter_bot_1 {
    color: #FF00BF;
    font-style: normal;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 185px;
    top: 724px;
    transform: scaleY(-1);
    opacity: 0.3;
}
.single_letter_bot_2 {
    color: #FF00BF;
    font-style: italic;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 425px;
    top: 720px;
    transform: scaleY(-1);
    opacity: 0.3;
}
.single_letter_bot_3 {
    color: #FF00BF;
    font-style: normal;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 700px;
    top: 717px;
    transform: scaleY(-1);
    opacity: 0.3;
}
.single_letter_bot_4 {
    color: #FF00BF;
    font-style: italic;
    font-size: 380px;
    font-weight: 500;
    position: absolute;
    left: 940px;
    top: 713px;
    transform: scaleY(-1);
    opacity: 0.3;
}
.stars {
    color: #ffffff;
    font-style: normal;
    font-size: 160px;
    font-weight: 500;
    position: absolute;
    left: 9px;
    top: 1628px;
}
.Y {
    color: #DDFF00;
    font-style: normal;
    font-size: 450px;
    font-weight: 600;
    position: absolute;
    left: 229px;
    top: 1849px;
}
.G {
    color: #DDFF00;
    font-style: normal;
    font-size: 450px;
    font-weight: 600;
    position: absolute;
    left: 826px;
    top: 1927px;
}
.attention{
    color: #000000;
    font-style: italic;
    font-size: 130px;
    font-weight: 700;
    position: absolute;
    left: 209px;
    top: 3217px;
}



#alien_header{
    position:absolute;
    left: 970px;
    top: 1280px;
}

#alien_left{
    position:absolute;
    left: 278px;
    top: 2360px;
}

#alien_right{
    position:absolute;
    left: 764px;
    top: 2360px;
}

#alien_dalni_plan{
    position:absolute;
    left: 197px;
    top: 1772px;
}

#alien_sredni_plan{
    position:absolute;
    left: 313px;
    top: 1799px;
}

#alien_peredni_plan{
    position:absolute;
    left: 24px;
    top: 1862px;
}

#planet_left{
    position:absolute;
    left: 123px;
    top: 22px;
}

#planet_right{
    position:absolute;
    left: 650px;
    top: 22px;
}
#white_frame_aliens{
    position:absolute;
    left: 25px;
    top: 58px;
}
#yellow_frame_aliens{
    position:absolute;
    left: 96px;
    top: 326px;
}
#black_frame_big{
    position:absolute;
    left: 45px;
    top: 1279px;
}

#pink_alien_left{
    position:absolute;
    left: 226px;
    top: 378px;
}
#pink_alien_center{
    position:absolute;
    left: 565px;
    top: 381px;
}
#pink_alien_right{
    position:absolute;
    left: 883px;
    top: 382px;
}
#alien_ring_1{
    position:absolute;
    left: 263px;
    top: 723px;
}
#alien_ring_2{
    position:absolute;
    left: 581px;
    top: 353px;
}
#alien_ring_3{
    position:absolute;
    left: 717px;
    top: 680px;
}
#alien_ring_4{
    position:absolute;
    left: 1064px;
    top: 622px;
}
#black_curve{
    position:absolute;
    left: 0px;
    top: 1594px;
}
#bg_yg{
    position:absolute;
    left: 1px;
    top: 2046px;
}
#black_line{
    position:absolute;
    left: 657px;
    top: 1739px;
}
#pink_line_gg{
    position:absolute;
    left: 799px;
    top: 1812px;
}
#pink_line_y{
    position:absolute;
    left: 68px;
    top: 1810px;
}



